body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers vertically */
    margin: 0;
}

h1 {
    font-size: 50px;
    color: rgb(76, 47, 47);
    text-align: center; /* Centers text */

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
}