body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers vertically */
    margin: 0;
}

h1 {
    font-size: 34px;
    color: rgb(76, 47, 47);
    text-align: center; /* Centers text */
}